html, body {
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  margin: 0 0;
  overflow: hidden;
}

.flex-container {
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
}


#main-image-container {
  -webkit-justify-content: center; /* Safari */
  justify-content: center;
  text-align: center;
  height: 85vh;
  overflow: hidden;
}

#info {
  height: 5vh;
  display:flex;
  /* Safari */
  -webkit-justify-content: space-around;
  justify-content: space-around;
  flex-direction: row;
  text-align: center;

  border: 1px solid grey;
}

#info > div {
  flex: 1;
  /* background-color: lightblue; */
  /* border-radius: 100px; */

  /*Center text*/
  display: flex;
  align-items: center;
  justify-content: center;
}

#nav {
  height: 10vh;
  display:flex;
  /* Safari */
  -webkit-justify-content: space-between; 
  justify-content: space-between;
  flex-direction: row;
  text-align: center;
}

#main-image {
  padding: 5px 0px;
  transition: all 0.5s cubic-bezier(0.75, 0.25, 0.25, 0.75);
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;
  cursor: pointer;
  cursor: hand;
}

.ctrl {
  flex: 1;
  cursor: pointer;
  cursor: hand;

  background-color: lightblue;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ctrl img {
  max-width: 100px;
}

#page_number {
  width: 50px;
}

#upload {
  display: none;
}

#upload-container > * {
  cursor: pointer;
  cursor: hand;
}

/*Also known as responsive image (by width)*/
.flex-img {
  max-width: 100%;
  height: auto;
}

#main-image-container.fit-width, 
#main-image-container.fit-width-step {
  overflow-y: auto;
}

#main-image-container.fit-height-step {
  overflow-x: auto;
}

/* .fit-width img { */
/*   /\* width: 100%; *\/ */
/*   width: 100vw; */
/* } */

/* .fit-height img { */
/*   height: 100%; /\*disables the overflow-y*\/ */
/*   max-width: none; */
/* } */

.fit-width img, 
.fit-width-step img {
  width: 100vw;
  transition: all 0.5s cubic-bezier(0.75, 0.25, 0.25, 0.75);
}

.fit-height img,
.fit-height-step img {
  height: 100%;
  max-width: none;
  transition: all 0.5s cubic-bezier(0.75, 0.25, 0.25, 0.75);
}